.code{
    padding: 120px 0px;
    &__text{
        margin-bottom: 30px;
        code{
            color: crimson;
            background-color: #f1f1f1;
            padding: 2px;
            font-size: 105%;
        }
    }
    &__title{
        margin: 0 auto 30px;
        text-align: center;
    }
    &__list-text{
        font-size: 20px;
        font-weight: 500;
        margin: 20px 0px;
        text-align: center;
    }
}

#theme-togle:checked ~ .code{
    .code__title{
        color:#fff;
    }
}