.header{
    padding: 26px 0px;
    background-color:#fff;
    transition: all .5s ease;
    &__inner{
        display: flex;
        align-items: center;
    }
    &__logo{
        margin-right: 77px;
    }
    &__logo-img--dark{
        display: none;
    }
}
#theme-togle:checked ~ .header{
    background-color:#3A3B3C;
    transition: all .5s ease;
    .header__logo-img{
        display: none;
    }
    .header__logo-img--dark{
        display: block;
    }
    .menu__link{
        color:#fff;
        transition: all .5s ease;
    }
}
.menu{
    &__list{
        display: flex;
    }
    &__element{
        &:not(:first-child){
            margin-left: 38px;
        }
    }
    &__link{
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #373737;
        transition: all .5s ease;
    }
}